registry=https://registry-npm.myscrm.cn/repository/pkg/
electron_mirror=https://registry-npm.myscrm.cn/repository/mirrors/electron/
electron_builder_binaries_mirror=https://registry-npm.myscrm.cn/repository/mirrors/electron-builder-binaries/